@{
    ViewBag.Title = "Fire";
}
<div class="fire">
    <h2>Fire</h2>
    <iframe width="640" height="360" src="//www.youtube-nocookie.com/embed/rH79BmeeM0o?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="Instructions">
    <p>Select a General Category</p>
</div>

